In [1]:
import pandas as pd
import numpy as np

In [2]:
car = ["audi", "bmw", "ford"]

data = []
for i in car:
    data.append(pd.read_csv("DataSet/"+ i +".csv"))
data = pd.concat(data, ignore_index=True)

In [3]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...
39409,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2
39410,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
39411,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
39412,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
39413,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2

In [4]:
# 移除異常值
data.drop(data[data["year"]>2022].index, inplace=True)

In [5]:
# model處理
model_list = list(set(data['model']))
model_dict = dict()  
for i in range(0, len(model_list)):
    model_dict[model_list[i]]=i   
    
data["model"] = data["model"].map(model_dict)

In [6]:
# year處理
year_list = list(set(data['year']))
year_dict = dict()  
now = max(year_list)
for i in range(0, len(year_list)):
    year_dict[year_list[i]]=now-year_list[i]  
    
data["year"] = data["year"].map(year_dict)

In [7]:
# transmission 處理
transmission_dict = {'Manual': 0, 'Automatic': 1, "Semi-Auto":2}
data["transmission"] = data["transmission"].map(transmission_dict)

In [8]:
# mileage 標準化
mileage = data['mileage']
mileage_mean = mileage.mean()
mileage_std = mileage.std()
data['mileage'] = (data['mileage'] - mileage_mean) / mileage_std

In [9]:
# fuelType 處理
fuelType_list = list(set(data['fuelType']))

fuelType_dict = {'Petrol': 0, 'Diesel': 1, "Hybrid":2, "Other":3, "Electric":4}
data["fuelType"] = data["fuelType"].map(fuelType_dict)

In [10]:
# tax 處理
tax = data['tax']
tax_mean = tax.mean()
tax_std = tax.std()
data['tax'] = (data['tax'] - tax_mean) / tax_std

In [11]:
# mpg 處理
mpg = data['mpg']
mpg_mean = mpg.mean()
mpg_std = mpg.std()
data['mpg'] = (data['mpg'] - mpg_mean) / mpg_std

In [12]:
# engineSize 處理
engineSize = data['engineSize']
engineSize_mean = engineSize.mean()
engineSize_std = engineSize.std()
data['engineSize'] = (data['engineSize'] - engineSize_mean) / engineSize_std

In [13]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,56,3,12500,0,-0.386446,0,0.442069,-0.008484,-0.526506
1,9,4,16500,1,0.532489,1,-1.594950,0.449234,0.427169
2,56,4,11000,0,0.251574,0,-1.438257,-0.008484,-0.526506
3,72,3,16800,1,0.072258,1,0.363722,0.610476,0.427169
4,69,1,17300,0,-1.003185,0,0.363722,-0.310162,-1.162289
...,...,...,...,...,...,...,...,...,...
39409,7,4,7999,0,0.314518,0,0.050334,-0.065699,-0.844397
39410,33,3,8999,0,-0.343121,0,0.442069,-0.440195,-0.526506
39411,33,6,7499,0,0.734387,0,-1.438257,0.111147,-1.162289
39412,47,5,9999,0,-0.778165,1,-1.594950,0.610476,-0.208614
39413,54,2,8299,0,-0.868092,0,0.363722,0.111147,-0.844397

In [14]:
data.to_csv("DataSet/preprocessed data.csv",index=False)